.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 7% 1fr 7%;
  grid-template-rows: 12% 1fr 12%;
  grid-template-areas: 
    "left top     right"
    "left middle  right"
    "left bottom  right"
  ;
  background: green;
}

.flame {
  width: 100px;
  height: 100px;
  background: red;
  border: 2px solid white;
}

/* .group {
  border: 2px solid white;
} */

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: left;
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 50px 0 175px;

}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 0;
}

.top {
  grid-area: top;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 200px;
}

.middle {
  grid-area: middle;
}