.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 15% 1fr 15%;
  grid-template-areas: 
    "left top     right"
    "left middle  right"
    "left bottom  right"
  ;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(121, 121, 121) 100%);
  overflow: scroll;
}

.flame {
  cursor: pointer;
  position: relative;
  display: flex;
  position: relative;
  width: 15vw;
  height: 15vh;
  font-size: 1.4vw;
  /* color: rgb(131, 172, 185); */
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  /* background: darkgreen; */
  /* border: 2px solid white; */
  z-index: 1;
}

.flame:nth-child(odd) {
  transform: rotate(-2deg);
}

.flame:nth-child(even) {
  transform: rotate(2deg);
}

.flame:hover {
  transform: none;
}

.flame > img {
  position: absolute;
  height: auto;
  width: 13vw;
  z-index: 1;
}

.flame > h3 {
  position: absolute;
  top: 9vh;
  z-index: 2;
}

.hovered {
  transform: rotate(3deg);
  z-index: 1;
  /* background: red; */
}

.active {
  transform: scale(1.25);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: left;
}

.left > .hovered, .left .active {
  /* transform-origin: left; */
}

.left .flame:nth-child(1) {
  /* transform-origin: top left; */
}

.left .flame:nth-child(4) {
  /* transform-origin: bottom left; */
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10%;
}

.bottom > .hovered, .bottom .active {
  /* transform-origin: bottom; */
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.right > .hovered, .right .active {
  /* transform-origin: right; */
}

.right .flame:nth-child(1) {
  /* transform-origin: top right; */
}

.right .flame:nth-child(3) {
  /* transform-origin: bottom right; */
}

.top {
  grid-area: top;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.top .hovered, .top .active {
  /* transform-origin: top; */
}

.middle {
  grid-area: middle;
}

.video-container {
  width: 100%;
  height: 100%;
}

<<<<<<< HEAD
iframe {
=======
video {
>>>>>>> 2ac436f22316a296405c8ea2d7e6c075e4facd61
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29);
}